.title {
    color: var(--accent);
}

.center-text{
    text-align: center;
}

/* margin-top */
.mt-sm {
    margin-top: 10px;
}

.mt-md {
    margin-top: 20px;
}

.mt-lg {
    margin-top: 30px;
}

/* margin-bottom */
.mb-sm {
    margin-bottom: 10px;
}

.mb-md {
    margin-bottom: 20px;
}

.mb-lg {
    margin-bottom: 30px;
}